.nav-container {
  width: 100%;
  height: 60px;
  background-color:#333;
  color: white;
}

.no-padding {
  padding: 0;
}

.logo {
  width: 100px;
  height: 60px;
}

.pad-r-10 {
  padding-right: 10px;
}

.ex{
text-align: left;
  right:0;
}
.exe{
  text-align: right;
  right:0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}