
<div class="form-container" style="width: 100%;  ">
    <mat-card class="card-container">
      <mat-card-content> 
        <mat-card-header>
          <mat-card-title style="align-items: center; ">
           <h2 class="mat-title light-colors">BloodBank</h2>
           <img class="card-img-top" style="align-items:center;" src='../../../assets/bloodbank.png' width="50%" height="50%"  alt="blood bank">
          </mat-card-title>
        </mat-card-header>
        <h2 style="text-align: center;">Search BloodBanks by giving prefered Location below </h2>
       <div class="inner-container">
         <label for="location">Location</label>
        <input matInput name="location" id="location"type="string" required/>
        <br>
        <br>
      <br>
        <br>
        <button mat-raised-button color="primary" type="submit" class="mar-bot-15" (click)="my()">Click me</button>
      </div>
       
      </mat-card-content>
    </mat-card>
    </div>
    