 
<div class="form-container" style="width: 100%;  ">
  <mat-card class="card-container">
    <mat-card-content> 
      <mat-card-header>
        <mat-card-title class="center ">
         <h2 class="mat-title light-colors">Hospital Dashboard</h2>
         <img class="card-img-top" src='../../../assets/hospitalicon.png' width="50%" height="50%"  alt="blood bank">
        </mat-card-title>
      </mat-card-header>
     <div class="inner-container">
       <label for="location">Location</label>
      <input matInput name="location" id="location"type="string" required/>
      <br>
      <br>
      <label for="department">Department</label>
      <input matInput name="department" id="department" type="string" required/>
      
    <br>
      <br>
      <button mat-raised-button color="primary" type="submit" class="mar-bot-15" (click)="my()">Click me</button>
    </div>
     
    </mat-card-content>
  </mat-card>
  </div>
  