<app-navigation style="height: 10%"></app-navigation>

<h1 style="text-align: center;">User Home Page</h1> 

<mat-card class="main-container">
  <mat-card-content class="inner-container">
    

  </mat-card-content>
</mat-card>

  
   
<mat-card class="main-container2">
  <mat-card-content class="inner-container">
    

  
<div class="form-container" style="width: 50%; height: 50%; float:left;">
  <mat-card class="card-container">
    <mat-card-content> 
      <mat-card-header>
        <mat-card-title class="center ">
         <h2 class="mat-title light-colors">Hospital Dashboard</h2>
         <img class="card-img-top" src='../../../assets/hospitalicon.png' width="50%" height="50%"  alt="blood bank">
        </mat-card-title>
      </mat-card-header>
      <div class="es">
        "WeCare", a healthcare application, keeps your health at your hands. You can search hospitals near you. 
        It helps you to book appointment with doctors depending on their available date and time.The app asks for your health issues/symptoms and accordingly suggest the hospital and
         department to be visited and shows the list of doctors available from the particular department. 
      </div>
      <br>
      <button mat-raised-button color="primary" type="submit" class="mar-bot-15"(click)="my()">Click me</button>
      <mat-tab label="Login">
        <app-login></app-login>
      </mat-tab>
    </mat-card-content>
  </mat-card>
  </div>
  

  
<div class="form-container" style="width: 50%; height: 50%; float:right;">
  <mat-card class="card-container">
    <mat-card-content> 
      <mat-card-header>
        <mat-card-title class="center ">
         <h2 class="mat-title light-colors">Blood Bank</h2>
         <img class="card-img-top" src='../../../assets/bloodbank.png' width="50%" height="50%" alt="blood bank">
        </mat-card-title>
      </mat-card-header>
      <div class="es">
        It also helps to get the details on blood groups available at blood-banks in near-by hospitals.
      </div>
      <br>
      <button mat-raised-button color="primary" type="submit" class="mar-bot-15"(click)="my2()">Click me</button>
    </mat-card-content>
  </mat-card>
  </div>
  

<div class="form-container"  style="width: 50%; height: 50%; float:left;">
  <mat-card class="card-container">
    <mat-card-content> 
      <mat-card-header>
        <mat-card-title class="center">
         <h2 class="mat-title light-colors">Notification</h2>
         <img class="card-img-top" src='../../../assets/not2.png' width="50%" height="50%" alt="Notification">
        </mat-card-title>
      </mat-card-header>
      <div class="es">
        It would also give notifications based on the health camps organized by near-by hospitals.
       </div>
       <br>
       <button mat-raised-button color="primary" type="submit" class="mar-bot-15" (click)="my3()">Click me</button>
    </mat-card-content>
  </mat-card>
  </div>
  


 
<div class="form-container" style="width: 50%; height: 50%; float:left;">
  <mat-card class="card-container">
    <mat-card-content> 
      <mat-card-header>
        <mat-card-title class="center ">
         <h2 class="mat-title light-colors">User profile</h2>
         <img class="card-img-top" src='../../../assets/user1.png' width="50%" height="50%" alt="User profile">
        </mat-card-title>
      </mat-card-header>
      <div class="es">
        It helps user to view his data evenever he needed.
        it shows all the details like username, email and password.
       </div>
       <br>
       <button mat-raised-button color="primary" type="submit" class="mar-bot-15" (click)="my4()">Click me</button>
       
    </mat-card-content>
  </mat-card>
  </div>





</mat-card-content>
</mat-card>
